.env
.DS_Store
paperless-gpt/prompts/
paperless-gpt/tests/tmp
paperless-gpt/tmp/
paperless-gpt/db/
paperless-gpt/web-app/playwright-report/
paperless-gpt/web-app/test-results/.last-run.json
paperless-gpt/web-app/test-results/
paperless-gpt/dist/